![](https://i.imgur.com/0AUxkXt.png)

# Assignment 1 - The Hacker Rank

HackerRank is a place where programmers from all over the world come together to solve problems in a wide range of Computer Science domains.

As you solve more challenges, you earn points and move up the HackerRank Leaderboard.

Looking for a job at an awesome company? You can get hired by solving [challenges](https://www.hackerrank.com/jobs/search)!

It's cool. Let's establish your knowledge and fight for glory!

But before that let's make it clear that..

## Note-taking is IMPORTANT

Blog: [Why is note-taking important](https://nickblackbourn.com/blog/why-is-note-taking-important/)

Note taking isn’t just important for college students, it’s a valuable life skill.

Effective note taking helps you to remember information and aids your understanding of that information. 

**Notes boost your understanding**

By making notes, you force yourself to construct a conceptual mental representation of the ideas you are grappling with. It is this process that helps you comprehend the subject matter you are working with.

**Notes are a repository of your thinking**

When you need to recall something that you came across a while ago, you can go over the main ideas by looking over your notes. This is why good, comprehensive notes are so useful; they are a catalogue of the best ideas you’ve encountered, and what you thought about them.

etc.

## Requirements

Pick 10 challenges on HackerRank about SQL and 5 about Python in **easy** level:

[HackerRank - Domain SQL](https://www.hackerrank.com/domains/sql?filters%5Bdifficulty%5D%5B%5D=easy&filters%5Bsubdomains%5D%5B%5D=select)

[HackerRank - Domain Python](https://www.hackerrank.com/domains/python?filters%5Bdifficulty%5D%5B%5D=easy)

For each challenge:

* Create a markdown cell first that describes the challenge.
* Solve the challenge on HackerRank and copy your solution to a code cell below
* (Optional) A short description about how you came up with the solution would be awesome.

## Example

### SQL


#### Problem 1

Query all columns for all American cities in **CITY** with populations larger than 100000. The CountryCode for America is USA.

**Input Format**

The **CITY** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

In [0]:
# Solution
# SELECT * from city WHERE population>100000 AND countrycode='USA';

### Python

#### Problem 1

**Task** 
Given an integer, , perform the following conditional actions:

* If `n` is odd, print *Weird*
* If `n` is even and in the inclusive range of 2 to 5, print *Not Weird*
* If `n` is even and in the inclusive range of 6 to 20, print *Weird*
* If `n` is even and greater than 20, print *Not Weird*

**Input Format**

A single line containing a positive integer, .

**Output Format**

Print Weird if the number is weird; otherwise, print Not Weird.

In [0]:
n = int(input())

if n % 2 == 1:
    print('Weird')
else:
    if (n >= 2) and (n <= 5):
        print('Not Weird')
    elif (n >= 6) and (n <= 20):
        print('Weird')
    else:
        print('Not Weird')

## Your turn

Good luck and have fun!

##SQL


#### Problem 1

Query all columns for all American cities in **CITY** with populations larger than 100000. The CountryCode for America is USA.

**Input Format**

The **CITY** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

In [0]:
SELECT * FROM CITY WHERE POPULATION > 100000 AND COUNTRYCODE = 'USA'


#### Problem 2

Query all columns (attributes) for every row in the CITY table.


**Input Format**

The **CITY** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

In [0]:
SELECT * FROM CITY


#### Problem 3

Query all columns for a city in CITY with the ID 1661.


**Input Format**

The **CITY** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

In [0]:
SELECT * FROM city WHERE id = 1661


#### Problem 4

Query all attributes of every Japanese city in the CITY table. The COUNTRYCODE for Japan is JPN.


**Input Format**

The **CITY** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

In [0]:
SELECT * FROM CITY WHERE COUNTRYCODE = 'JPN'


#### Problem 5

Query the names of all the Japanese cities in the CITY table. The COUNTRYCODE for Japan is JPN.

**Input Format**

The **CITY** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

In [0]:
SELECT name FROM city WHERE countrycode = 'JPN'


#### Problem 6

Query a list of CITY and STATE from the STATION table.

**Input Format**

The STATION table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| CITY | VARCHAR2(21) |
| STATE | VARCHAR2(2) |
| LAT_N | NUMBER |
| LONG_W | NUMBER |

In [0]:
SELECT CITY, STATE FROM STATION


#### Problem 7

Query a list of CITY names from STATION with even ID numbers only. You may print the results in any order, but must exclude duplicates from your answer.

**Input Format**

The STATION table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| CITY | VARCHAR2(21) |
| STATE | VARCHAR2(2) |
| LAT_N | NUMBER |
| LONG_W | NUMBER |

In [0]:
SELECT DISTINCT CITY FROM STATION WHERE ID % 2 = 0


#### Problem 8

Let $N$ be the number of CITY entries in STATION, and let $N'$ be the number of distinct CITY names in STATION; query the value of $N - N'$ from STATION. In other words, find the difference between the total number of CITY entries in the table and the number of distinct CITY entries in the table.

**Input Format**

The STATION table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| CITY | VARCHAR2(21) |
| STATE | VARCHAR2(2) |
| LAT_N | NUMBER |
| LONG_W | NUMBER |

In [0]:
SELECT COUNT(CITY) - COUNT(DISTINCT CITY) FROM STATION


#### Problem 9

Query the two cities in STATION with the shortest and longest CITY names, as well as their respective lengths (i.e.: number of characters in the name). If there is more than one smallest or largest city, choose the one that comes first when ordered alphabetically.

**Input Format**

The STATION table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| CITY | VARCHAR2(21) |
| STATE | VARCHAR2(2) |
| LAT_N | NUMBER |
| LONG_W | NUMBER |

In [0]:
SELECT CITY, LENGTH(CITY) FROM STATION ORDER BY LENGTH(CITY) ASC, CITY LIMIT 1;
SELECT CITY, LENGTH(CITY) FROM STATION ORDER BY LENGTH(CITY) DESC, CITY LIMIT 1;


#### Problem 10

Query the list of CITY names from STATION which have vowels (i.e., a, e, i, o, and u) as both their first and last characters. Your result cannot contain duplicates.

**Input Format**

The STATION table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| CITY | VARCHAR2(21) |
| STATE | VARCHAR2(2) |
| LAT_N | NUMBER |
| LONG_W | NUMBER |

In [0]:
SELECT DISTINCT CITY FROM STATION WHERE SUBSTRING(CITY, 1, 1) IN ('a', 'e', 'i', 'o', 'u') AND RIGHT(CITY, 1) IN ('a', 'e', 'i', 'o', 'u')

##Python

### Problem 1

###Task

You are given a two lists $A$ and $B$. Your task is to compute their cartesian product $A$ X $B$.

###Example

A = [1, 2]

B = [3, 4]

AxB = [(1, 3), (1, 4), (2, 3), (2, 4)]

Note: $A$ and $B$ are sorted lists, and the cartesian product's tuples should be output in sorted order.

###Input Format

The first line contains the space separated elements of list .
The second line contains the space separated elements of list .

Both lists have no duplicate integer elements.


###Output Format

Output the space separated tuples of the cartesian product.

In [0]:
# First way
A = list(map(int, input().split()))
B = list(map(int, input().split()))

for numA in A:
    for numB in B:
        print('({}, {}) '.format(numA, numB), end='')

In [0]:
# Second way
A = list(map(int, input().split()))
B = list(map(int, input().split()))

from itertools import product

for pair in product(A, B):
    print(pair, end=' ')

### Problem 2

###Task

You are given a string $S$.
Your task is to print all possible permutations of size $k$ of the string in lexicographic sorted order.

###Input Format

A single line containing the space separated string $S$ and the integer value $k$.

The string contains only UPPERCASE characters.

###Output Format

Print the permutations of the string  on separate lines.

###Sample Input
```
HACK 2
```
###Sample Output
```
AC
AH
AK
CA
CH
CK
HA
HC
HK
KA
KC
KH
```

In [0]:
S, k = input().split()
from itertools import permutations

results = []
for tup in permutations(S, int(k)):
    results.append(''.join(tup))
results.sort()

for result in results:
    print(result)

### Problem 3

###Task

You are given a string $S$.
Your task is to print all possible combinations of size $k$ of the string in lexicographic sorted order.

###Input Format

A single line containing the space separated string $S$ and the integer value $k$.

The string contains only UPPERCASE characters.

###Output Format

Print the different combinations of the string  on separate lines.

###Sample Input

```
HACK 2
```
###Sample Output
```
A
C
H
K
AC
AH
AK
CH
CK
HK
```

In [0]:
from itertools import combinations

S, k = input().split()
S = sorted(S)
k = int(k)
for i in range(1, k + 1):
    for tup in combinations(S, i):
        print(''.join(tup))

### Problem 4

###Task

Students of District College have subscriptions to English and French newspapers. Some students have subscribed to English only, some have subscribed to French only, and some have subscribed to both newspapers.

You are given two sets of student roll numbers. One set has subscribed to the English newspaper, and one set has subscribed to the French newspaper. Your task is to find the total number of students who have subscribed to either the English or the French newspaper but not both.

###Input Format

The first line contains the number of students who have subscribed to the English newspaper.
The second line contains the space separated list of student roll numbers who have subscribed to the English newspaper.
The third line contains the number of students who have subscribed to the French newspaper.
The fourth line contains the space separated list of student roll numbers who have subscribed to the French newspaper.

###Output Format

Output total number of students who have subscriptions to the English or the French newspaper but not both.

###Sample Input

```
9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
```
###Sample Output
```
8
```

In [0]:
n = int(input())
A = set(map(int, input().split()))
m = int(input())
B = set(map(int, input().split()))

print(len(A^B))

### Problem 5

###Task

You are given a string $S$.
Your task is to print all possible size $k$ replacement combinations of the string in lexicographic sorted order.

###Input Format

A single line containing the string $S$ and integer value $k$ separated by a space.

###Output Format
Print the combinations with their replacements of string $S$ on separate lines.

###Sample Input

```
HACK 2
```
###Sample Output
```
AA
AC
AH
AK
CC
CH
CK
HH
HK
KK
```

In [0]:
from itertools import combinations_with_replacement

S, k = input().split()
S = sorted(S)
k = int(k)

for comb in combinations_with_replacement(S, k):
    print(''.join(comb))